<h1>User {{ profile.userId }}</h1>

<div>Name: {{ profile.name }}</div>

{% if profile.photos|length > 0 %}
    <div>{{ profile.photos|length }} Photo/s:
    {% for photo in profile.photos %}
        <ul>{{ photo.title }}</ul>
    {% endfor %}
    </div>
{% else %}
    <div>He has no photos</div>
{% endif %}

{% if profile.videos|length > 0 %}
    <div>{{ profile.videos|length }} Video/s:
    {% for video in profile.videos %}
        <ul>{{ video.title }}</ul>
    {% endfor %}
    </div>
{% else %}
    <div>He has no videos</div>
{% endif %}